<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ meta.title }}</title>
  <link href="/styles/global.min.css" rel="stylesheet">
  {{#if viewStyles}}
  <style>
    {{{ viewStyles }}}
  </style>
  {{/if}}
</head>

<body>
  {{{body}}}
  {{#each scripts}}
  <script src="{{this}}"></script>
  {{/each}}
</body>
</html>
