@import "reset";
@import "fonts";

$white: #FFFFFF;
$black: #333333;
$trueBlack: #000000;
$grayBg: #DDDDDD;
$grayLineBg: #CCCCCC;
$grayText: #AAAAAA;
$background: #EEEEEE;

$nsidr: #16A1FF;
$hyrule: #19BC19;
$fami: #FF3F3F;
$disk: #FFD800;

$rss: #F26522;
$twitter: #1DA1F2;
$facebook: #1777f2;

$focusShadow: 0 0 30px 0 rgba($trueBlack, .2);

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  font-family: "Open Sans";
  background-color: $background;
  color: $black;

  a {
    color: $nsidr;
  }
}

@import "animations";
@import "layouts/partials/view-all-posts";
@import "layouts/partials/post-previews";
@import "layouts/partials/post-feedback";
@import "layouts/partials/post";
@import "layouts/partials/view-all-articles";
@import "layouts/partials/article-previews";
@import "layouts/partials/article";
@import "layouts/partials/taxonomy-previews";
@import "layouts/template";
@import "layouts/index";
@import "layouts/posts";
@import "layouts/post";
@import "layouts/articles";
@import "layouts/article";
@import "layouts/taxonomy";
