<article class="article-template">

  <header class="article-header">
    <h1>{{ article.title }}</h1>
    <small>authors here</small>
  </header>

  <div>{{{ currentPage.content }}}</div>
  <aside>{{{ currentPage.sidebar }}}</aside>

  <footer>
    tags here, links to more pages here
  </footer>

</article>
