<section id="index">

  <div class="index-featured{{#if hasFeaturedPost}} has-post{{/if}}">

    {{#if hasFeaturedPost}}
    {{> post post=leadingPost isFeatured=true }}
    {{/if}}

    <div class="index-exhibits">

      <aside class="exhibit-one">
        <h1>the hyrule fantasy</h1>
      </aside>

      <aside class="exhibit-two">
        <h1>famiculture</h1>
      </aside>

      <aside class="follow">
        <h1>stay updated</h1>
        <p>we don't update often,<br>so catch us when we do!</p>
        <ul>
          <li><a href="/rss" class="rss"><i class="fas fa-rss-square"></i></a></li>
          <li><a href="https://twitter.com/nsider" class="twitter"><i class="fab fa-twitter-square"></i></a></li>
          <li><a href="https://www.facebook.com/N-Sider-141311642565331/" class="facebook"><i class="fab fa-facebook-square"></i></a></li>
        </ul>
      </aside>

    </div>

  </div>

  {{> post-previews }}

</section>
