<article class="post-template">

  <header class="post-header">
    <h1>{{ post.title }}</h1>
    <small>authors here</small>
  </header>

  {{{ post.content }}}

  <footer>
    tags here
  </footer>

</article>
