.article-template {
  width: 783px;
  margin: 0 auto;
  background-color: @white;
  border-radius: 5px;

  .article-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 40px 20px;

    h1 {
      line-height: 34px;
      font-size: 30px;
      font-weight: 700;
      font-family: proxima-soft, sans-serif;
    }

    small {
      display: flex;
      font-size: 14px;

      & > span {
        display: flex;
        margin: 10px 15px 0 0;
        white-space: nowrap;

        &:not(:first-child) {
          flex: 0 0 auto;
        }
      }

      svg {
        margin-right: 8px;
        color: @grayText;
      }

      ol,
      ul {
        display: flex;
        flex-wrap: wrap;

        li {
          margin-bottom: 5px;

          &:not(:last-child)::after {
            margin-right: 5px;
            content: ",";
          }
        }
      }
    }
  }

  .article-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px 40px;
    line-height: 17px;
    font-family: Verdana;
    font-size: 14px;

    * {
      box-sizing: content-box;
    }

    #contentarea {
      flex: 1 0 461px;

      .markup_main_standard {
        overflow: hidden;
      }
    }
    #sidebar {
      flex: 0 0 223px;
      margin-left: 19px;

      .quote_sourced {
        margin-left: 0;
        padding-right: 0;
      }
      blockquote { margin: 14px 5px; }
    }

    a {
      color: #000000;
      text-decoration: underline;
    }
    p {
      margin: 0 0 12px 0;
    }

    sub {
      vertical-align: sub;
      font-size: 11px;
    }
    sup {
      vertical-align: super;
      font-size: 11px;
    }

    acronym,
    abbr {
      border: none;
      background: url('https://static.nsidr.com/layout/underline_dots.gif') bottom left repeat-x;
      text-decoration: none;
      cursor: help;
    }

    ul li {
      list-style-type: disc;
      margin: 0 30px;
    }
    ol li {
      list-style-type: decimal;
      margin: 0 30px;

    }

    h1 {
      margin: .67em 0;
      font-weight: 700;
      font-size: 2em;
    }
    h2 {
      margin: .83em 0;
      font-weight: 700;
      font-size: 1.5em;
    }
    h3 {
      margin: 1em 0;
      font-weight: 700;
      font-size: 1.17em;
    }

    /* Legacy content styles */
    blockquote { margin: 14px 40px; }
    table[cellpadding='3'] td { padding: 3px };
    [bgcolor='lightgrey'] { background-color: lightgrey; }
    [valign='top'] { vertical-align: top; }
    [valign='middle'] { vertical-align: middle; }
    [valign='bottom'] { vertical-align: bottom; }
    [background='https://static.nsidr.com/media/heartcontainers-bar1.jpg'] {
      background-image: url('https://static.nsidr.com/media/heartcontainers-bar1.jpg');
    }
    [background='https://static.nsidr.com/media/heartcontainers-bar2.jpg'] {
      background-image: url('https://static.nsidr.com/media/heartcontainers-bar2.jpg');
    }

    /* Legacy NML styles */
    .align_center { margin: 0 auto; text-align: center; }
    .align_left { float: left; padding-right: 10px; padding-top: 3px; }
    .align_right { float: right; padding-left: 10px; padding-top: 3px; }

    .size_1 { font-size: 70%; }
    .size_2 { font-size: 80%; }
    .size_3 { font-size: 100%; }
    .size_4 { font-size: 120%; }
    .size_5 { font-size: 150%; }
    .size_6 { font-size: 185%; }

    .header { border-bottom: 1px solid #808080; font-size: 17px; font-weight: 700; line-height: normal; }
    .subheader { border-bottom: 0; font-size: 14px; font-weight: 700; color: @grayText; line-height: normal; }

    img { max-width: 100%; }
    .image_styled { max-width: ~"calc(100% - 8px)"; padding: 3px; border: 1px solid @grayBg; }
    .image_nostyle { border: none; }
    .image_caption_styled { max-width: 100% !important; padding-top: 2px; text-align: center; font-size: 10px; }
    .image_caption_nostyle { max-width: 100% !important; padding-top: 2px; text-align: center; font-size: 10px; }
    .align_center .image_caption_styled,
    .align_center .image_caption_nostyle { margin: 0 auto; }

    .indent { padding: 0 40px; }
    .box { padding: 20px; border-radius: 5px; border: 1px solid @grayBg; }
    .strike { text-decoration: line-through; color: @grayText; }

    .quote {
      margin-left: 29px;
      padding: 0 40px 0 10px;
      border-left: 1px solid @grayBg;
    }
    .quote_sourced {
      display: block;
      position: relative;
      margin-left: 29px;
      padding: 0 40px 22px 10px;
      border-left: 1px solid @grayBg;
    }
    .quote_sourced .source {
      display: block;
      position: absolute;
      bottom: 0;
      font-weight: 700;
    }

    .pullquote {
      margin: 0 40px;
      padding: 10px 0;
      border-top: 1px solid @grayBg;
      border-bottom: 1px solid @grayBg;
      line-height: 24px;
      font-size: 18px;
      line-height: 24px;
    }

    .dropcap {
      float: left;
      height: 43px;
      margin: 2px 8px 3px 0;
      padding: 0 3px;
      border: 1px solid #1F4168;
      background-color: #446485;
      line-height: 40px;
      font-size: 38px;
      font-weight: 700;
      text-align: center;
      color: @white;
    }

    .divider { height: 1px; border-top: 1px solid #000000; background-color: @grayBg; text-align: center; }
  }

  .pagination {
    display: flex;
    height: 40px;
    background-color: @grayBg;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    & > a {
      display: block;
      flex: 0 0 150px;
      transition: all .2s ease-in-out;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        font-family: proxima-soft;
        line-height: 40px;
        color: @grayText;
        transition: all .2s ease-in-out;

        svg {
          margin-left: 10px;
        }
      }

      &:first-child {
        border-bottom-left-radius: 5px;

        span svg {
          margin-right: 10px;
        }
      }
      &:last-child {
        border-bottom-right-radius: 5px;

        span svg {
          margin-left: 10px;
        }
      }

      &:hover {
        background-color: @nsidr;

        span {
          transform: scale(1.05);
          color: @white;
        }

        &:first-child span svg {
          animation: 1s ease-in-out 0s infinite less;
        }
        &:last-child span svg {
          animation: 1s ease-in-out 0s infinite more;
        }
      }
    }

    & > div {
      flex: 0 0 150px;
    }

    & > span {
      display: block;
      flex: 1 1;
      border-left: 3px solid @white;
      border-right: 3px solid @white;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      font-family: proxima-soft;
      line-height: 40px;
      color: @grayText;
    }
  }

  .article-footer {
    display: flex;
    overflow: hidden;
    background-color: @grayBg;
    line-height: 40px;
    flex-direction: row-reverse;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    .icon {
      display: flex;
      flex: 0 0 40px;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      border-left: 2px solid @white;
      font-size: 16px;
      color: @nsidr;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-bottom: -2px;

      li {
        border-left: 2px solid @white;
        border-bottom: 2px solid @white;

        a {
          display: inline-block;
          padding: 0 15px;
          color: @grayText;
          transition: all ease-in-out .2s;

          &:hover {
            background-color: @nsidr;
            color: @white;
          }
        }
      }
    }
  }
}

@media (max-width: 863px) {

  .article-template {
    width: auto;
    margin: 0 40px;

    .article-body {
      #contentarea { flex: 0 1 auto; }
      img { height: auto; }
      .align_left,
      .align_right,
      [align="left"],
      [align="right"] { max-width: 40%; height: auto; }

      .image_caption_styled { width: auto !important; }
      .image_caption_nostyle { width: auto !important; }
    }
  }

}

@media (max-width: 800px) {

  .article-template {
    margin: 0 20px;

    .article-header {
      padding: 15px 20px 20px;

      h1 {
        line-height: 26px;
        font-size: 24px;
      }
      small {
        font-size: 12px;

        & > span {
          margin-top: 8px;
        }
      }
    }
    .article-body {
      padding: 0 20px 40px;

      #sidebar {
        display: none;
      }
    }
  }

}

@media (max-width: 600px) {

  .article-template {
    margin: 0;
    border-radius: 0;

    .pagination {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      & > div {
        flex: 0 0 100px;
      }
      & > a {
        flex: 0 0 100px;

        &:first-child {
          border-bottom-left-radius: 0;
        }
        &:last-child {
          border-bottom-right-radius: 0;
        }
        span {
          font-size: 16px;
        }
      }
      & > span {
        font-size: 16px;
      }
    }
  }

}
