.post-template {
  max-width: 1000px;
  margin: 0 auto;
  background-color: @white;
  border-radius: 5px;

  .featured {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    width: 100%;
    padding: 5px 10px 5px 12px;
    line-height: 20px;
    background-color: @nsidr;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    color: @white;

    svg {
      margin-right: 11px;
    }
  }

  .post-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 18px 40px 25px 25px;

    &::before {
      content: "";
      display: block;
      flex: 0 0 5px;
      height: 110px;
      margin: 7px 10px 0 0;
      border-radius: 5px;
      background-color: @nsidr;
    }

    img {
      flex: 0 0 110px;
      height: 110px;
      margin: 7px 20px 0 0;
      border-radius: 5px;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 110px;

      h1 {
        line-height: 44px;
        font-size: 40px;
        font-weight: 700;
        font-family: proxima-soft, sans-serif;
      }

      small {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10px;
        font-size: 14px;

        svg {
          margin-right: 8px;
          color: @grayText;

          &:not(:first-child) {
            margin-left: 15px;
          }
        }

        ul {
          display: flex;

          li:not(:first-child)::before {
            margin-right: 5px;
            content: ",";
          }
        }
      }
    }
  }

  .post-body {
    padding: 0 40px 40px;
    line-height: 34px;
    font-size: 20px;

    p:not(:last-child) {
      margin-bottom: 25px;
    }

    img {
      width: ~"calc(100% + 120px)";
      height: auto;
      margin-left: -60px;
      border: 20px solid transparent;
      background: url('https://static.nsidr.com/nsidr/line-gate.png') -1px -1px @nsidr;
      background-size: 6px 6px;
      box-shadow: @focusShadow;
    }
    iframe {
      display: block;
      width: ~"calc(100% + 120px)";
      height: 50vw;
      max-height: 535px; /* Includes borders */
      margin-left: -60px;
      border: 20px solid transparent;
      background: url('https://static.nsidr.com/nsidr/line-gate.png') -1px -1px @nsidr;
      background-size: 6px 6px;
      box-shadow: @focusShadow;
    }

    sub {
      vertical-align: sub;
      font-size: 11px;
    }
    sup {
      vertical-align: super;
      font-size: 11px;
    }

    ul li {
      list-style-type: disc;
      margin: 0 30px;
    }
    ol li {
      list-style-type: decimal;
      margin: 0 30px;

    }

    h2 {
      font-size: 32px;
      font-weight: 700;
      font-family: proxima-soft;
    }
    h3 {
      font-size: 26px;
      font-weight: 700;
      font-family: proxima-soft;
    }

    /* Legacy NML styles */
    .align_center { text-align: center; }
    .align_left { float: left; margin: 5px 20px 0 0; }
    .align_right { float: right; margin: 5px 0 0 20px; }

    .align_left img,
    .align_right img {
      width: 100%;
      margin-left: 0;
      border: 20px solid transparent;
    }

    .size_1 { font-size: 70%; }
    .size_2 { font-size: 80%; }
    .size_3 { font-size: 100%; }
    .size_4 { font-size: 120%; }
    .size_5 { font-size: 150%; }
    .size_6 { font-size: 185%; }

    .image_styled { width: ~"calc(100% + 120px)"; height: auto; }

    .indent { padding-left: 30px; }
    .box { padding: 20px; border-radius: 5px; border: 1px solid @grayBg; }

    blockquote { margin: 0 30px; }
    blockquote .quote_author { margin-bottom: 5px; font-weight: 700; font-family: proxima-soft; }
    blockquote .quote_body { line-height: 26px; font-size: 85%; }

    .divider { height: 1px; overflow: hidden; background-color: @grayBg; }
  }

  .post-footer {
    display: flex;
    min-height: 40px;
    overflow: hidden;
    background-color: @grayBg;
    line-height: 40px;
    flex-direction: row-reverse;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    .tag-icon {
      display: flex;
      flex: 0 0 40px;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      border-left: 2px solid @white;
      font-size: 16px;
      color: @nsidr;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-bottom: -2px;

      li {
        border-left: 2px solid @white;
        border-bottom: 2px solid @white;

        a {
          display: inline-block;
          padding: 0 15px;
          color: @grayText;
          transition: all ease-in-out .2s;

          &:hover {
            background-color: @nsidr;
            color: @white;
          }
        }
      }
    }

    .top-icon {
      display: flex;
      flex: 0 0 40px;
      margin-right: auto;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      border-right: 2px solid @white;
      font-size: 16px;
      color: @grayText;
      cursor: pointer;
      transition: all ease-in-out .2s;

      &:hover {
        background-color: @nsidr;
        color: @white;

        svg {
          animation: 1s ease-in-out 0s infinite up;
        }
      }
    }
  }

  &.hyrule {
    .featured {
      background-color: @hyrule;
    }
    .post-header {
      &::before {
        background-color: @hyrule;
      }
      a {
        color: @hyrule;
      }
    }
    .post-body {
      a {
        color: @hyrule;
      }
      img {
        background-color: @hyrule;
      }
    }
  }
  &.fami {
    .featured {
      background-color: @fami;
    }
    .post-header {
      &::before {
        background-color: @fami;
      }
      a {
        color: @fami;
      }
    }
    .post-body {
      a {
        color: @fami;
      }
      img {
        background-color: @fami;
      }
    }
  }
}

@media (max-width: 1420px) {

  .post-template {
    .featured {
      justify-content: center;
    }
  }

}

@media (max-width: 1080px) {

  .post-template {
    margin: 0 40px;

    .post-header {
      &::before {
        height: 90px;
      }
      img {
        flex: 0 0 90px;
        height: 90px;
      }
      div {
        min-height: 90px;

        h1 {
          line-height: 32px;
          font-size: 30px;
        }
      }
    }
  }

}

@media (max-width: 800px) {

  .post-template {
    margin: 0 20px;

    .post-header {
      &::before {
        height: 70px;
      }
      img {
        flex: 0 0 70px;
        height: 70px;
        margin-right: 10px;
      }
      div {
        min-height: 70px;

        h1 {
          line-height: 26px;
          font-size: 24px;
        }
        small {
          margin-top: 5px;
          font-size: 12px;
        }
      }
    }

    .post-body {
      padding: 0 20px 20px;
      line-height: 30px;
      font-size: 18px;

      h2 {
        font-size: 28px;
      }
      h3 {
        font-size: 22px;
      }

      img,
      iframe {
        width: ~"calc(100% + 60px)";
        margin-left: -30px;
        border-width: 10px;
      }

      .align_left img,
      .align_right img {
        width: 100%;
        margin-left: 0;
        border-width: 10px;
      }

      .image_styled {
        width: ~"calc(100% + 60px)";
      }
    }
  }

}

@media (max-width: 600px) {

  .post-template {
    margin: 0;
    border-radius: 0;

    .featured {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .post-header {
      padding-left: 20px;

      &::before {
        display: none;
      }
      img {
        flex: 0 0 60px;
        height: 60px;
        margin-top: 3px;
        margin-right: 10px;
        box-shadow: 1px 1px 0 rgba(0,0,0,.2);
      }
      div {
        min-height: 60px;

        h1 {
          line-height: 20px;
          font-size: 18px;
        }
        small {
          margin-top: 5px;
          font-size: 12px;
        }
      }
    }

    .post-body {
      padding: 0 20px 20px;
      line-height: 24px;
      font-size: 16px;

      h2 {
        font-size: 26px;
      }
      h3 {
        font-size: 20px;
      }

      img,
      .image_styled,
      iframe {
        width: ~"calc(100% + 40px)";
        margin-left: -20px;
        border-left: none;
        border-right: none;
      }

      ul li,
      ol li,
      blockquote {
        margin: 0 20px;
      }
      .indent {
        padding-left: 20px;
      }

      blockquote .quote_body {
        line-height: 20px;
      }
    }

    .post-footer {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

}
