{{ define "config" }}
{{ if gt (.Paginate .Pages 20).PageNumber 1 }}
  {{ .Page.Scratch.Set "pageNumber" (.Paginate .Pages 20).PageNumber }}
{{ end }}
{{ end }}

{{ define "bodyClass" }}list-view{{ end }}

{{ define "main" }}
<section id="articles">

  <div class="article-list">
    <div class="filter-status">
      <i class="fas fa-th-list"></i>
      Viewing N-Sider articles in "{{ .Title }}"
      <a href="/archive"><i class="fas fa-times"></i></a>
    </div>
    {{- with .Params.description }}
    <p class="description">{{ . | safeHTML }}</p>
    {{ end }}
    {{- $previews := sort (.Paginate .Pages 20).Pages ".Date" "desc" }}
    {{ partial "article-previews.html" $previews }}
    {{ partial "pagination.html" (.Paginate .Pages 20) }}
  </div>

  <nav id="browse-taxonomies" class="archive-taxonomies">
    <div class="browse-container">
      <div class="browse-links">
        <h1>browse archive by</h1>
        <a href="/contributors"><span><i class="fad fa-user-friends"></i></span><span>contributor</span></a>
        <a href="/series"><span><i class="fad fa-th-list"></i></span><span>series</span></a>
      </div>
      <div class="archive-link">
        <a href="/posts"><i class="fas fa-arrow-circle-left"></i>return to nsidr posts</a>
      </div>
    </div>
  </nav>

</section>
{{ end }}
