.post-feedback {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 40px 0;
  padding: 40px 0 60px;
  background-color: $white;
  text-align: center;
  border-top: 5px solid $disk;

  &.focused {
    animation: .5s ease-in-out .2s focus;
  }

  .react-icon {
    position: relative;
    margin-right: 20px;
    animation: .5s ease-in-out appear;

    svg {
      font-size: 80px;
      color: $grayText;
    }

    &.thumbs-up svg {
      transform-origin: left center;
      animation: 2s ease-in-out thumbs-up;
      color: $nsidr;
    }
    &.laugh svg {
      animation: 2s ease-in-out laugh;
      color: $hyrule;
    }
    &.wow svg {
      animation: 2s ease-in-out wow;
      color: $fami;
    }
    &.sad svg {
      animation: 2s ease-in-out sad;
      color: $disk;
    }

    &.reacted {
      cursor: pointer;
      transition: transform ease-in-out .2s;

      &:hover {
        transform: scale(.95);
      }
    }
  }

  .thanks {
    display: flex;
    justify-content: center;
    flex: 0 0 370px;
    flex-wrap: wrap;
    animation: .5s ease-in-out enter;

    h1 {
      flex: 0 0 100%;
      margin-bottom: 10px;
      font-size: 40px;
      font-family: proxima-soft;
      font-weight: 700;
    }

    & > p {
      align-self: center;
    }

    & > ul {
      display: flex;
      flex-direction: row;

      li {
        align-self: center;
        margin-left: 12px;
        font-size: 28px;

        a {
          display: flex;
          color: $grayText;
          transition: all ease-in-out .2s;
          cursor: pointer;

          &:hover {
            transform: scale(1.2);
          }
        }

        &.thumbs-up a {
          color: $nsidr;

          &:hover svg {
            transform-origin: left center;
            animation: 2s ease-in-out infinite thumbs-up;
          }
        }
        &.laugh a {
          color: $hyrule;

          &:hover svg {
            animation: 2s ease-in-out infinite laugh;
          }
        }
        &.wow a {
          color: $fami;

          &:hover svg {
            animation: 2s ease-in-out infinite wow;
          }
        }
        &.sad a {
          color: $disk;

          &:hover svg {
            animation: 2s ease-in-out infinite sad;
          }
        }
      }
    }
  }

  .respond {
    display: flex;
    justify-content: center;
    flex: 0 0 370px;
    flex-wrap: wrap;
    text-transform: lowercase;
    animation: .5s ease-in-out enter;

    h2 {
      flex: 0 0 100%;
      margin-bottom: 10px;
      font-size: 40px;
      font-family: proxima-soft;
      font-weight: 700;
    }

    & > span {
      align-self: center;
      margin: 0 8px;

      &:first-of-type {
        margin-left: 0;
      }
    }

    a {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-right: 10px;
      font-size: 20px;
      border-radius: 5px;
      line-height: 30px;
      transition: all ease-in-out .2s;

      &.twitter {
        border-left: 30px solid $twitter;
        background-color: $grayBg;
        color: $white;
      }

      &.facebook {
        border-left: 30px solid $facebook;
        background-color: $grayBg;
        color: $white;
      }

      span {
        font-size: 16px;
        color: $black;
      }

      svg {
        margin-left: -27px;
        margin-right: 10px;
      }

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20px;
    background: url('https://static.nsidr.com/nsidr/line-gate.png') -1px -1px $grayLineBg;
    background-size: 6px 6px;
  }
}

@media (max-width: 800px) {

  .post-feedback {
    margin: 20px auto 0;
  }

}

@media (max-width: 680px) {

  .post-feedback {
    .react-icon {
      margin-right: 10px;
    }
    .thanks {
      flex: 0 0 285px;

      h1 {
        margin-top: -15px;
        font-size: 30px;
      }
      & > p {
        flex: 0 1 100%;
        margin-right: 0;
        margin-bottom: 15px;
      }
      & > ul li:first-child {
        margin-left: 0;
      }
    }
    .respond {
      flex: 0 0 285px;

      h2 {
        margin-top: -15px;
        font-size: 30px;
      }
      & > span:first-of-type {
        flex: 0 1 100%;
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }

}

@media (max-width: 600px) {

  .post-feedback {
    padding-bottom: 40px;

    &::after {
      height: 10px;
    }
  }

}

@media (max-width: 450px) {

  .post-feedback {
    height: 175px;

    .react-icon {
      margin: -10px -59px 0 36px;

      svg {
        font-size: 40px;
      }

      &:not(.reacted) {
        display: none;
      }
    }
    .respond {
      h2 {
        font-size: 22px;
      }
      & > span:first-of-type {
        margin: 5px 0 20px;
      }
    }
  }

}
