<!doctype html>

<html lang="en-US" data-ng-app="App">

    <head data-ng-controller="Head as head">
        <meta charset="utf-8">
        <title data-ng-bind="head.meta.title">The Nstitute</title>
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0, width=device-width">

        <meta property="{{ property }}" content="{{ content }}"
            data-ng-repeat="( property, content ) in head.meta.tags"
            data-ng-if="content">

        <link rel="stylesheet" href="/project.css">
        <base href="/">
    </head>

    <body data-ng-controller="Site as site">

        <header>
            {{ site.title }}
        </header>

        <main data-ng-view></main>

        <footer>
            Copyright
        </footer>

        <script src="/dist.js" defer></script>
    </body>

</html>
