{{ define "config" }}
{{ if gt .Paginator.PageNumber 1 }}
  {{ .Page.Scratch.Set "pageNumber" .Paginator.PageNumber }}
{{ end }}
{{ end }}

{{ define "bodyClass" }}list-view{{ end }}

{{ define "main" }}
<section id="posts">

  <div class="post-list">
    <div class="filter-status">
      <i class="fas fa-tag"></i>
      Viewing posts with tagged with "{{ .Title }}"
      <a href="/posts"><i class="fas fa-times"></i></a>
    </div>
    {{- $previews := sort .Paginator.Pages ".Date" "desc" }}
    {{ partial "post-previews.html" (dict "previews" $previews "ctx" $) }}
    {{ partial "pagination.html" .Paginator }}
  </div>

  <nav id="browse-taxonomies">
    <div class="browse-container">
      <div class="browse-links">
        <h1>browse posts by</h1>
        <a href="/authors"><span><i class="fad fa-user-friends"></i></span><span>author</span></a>
        <a href="/tags"><span><i class="fas fa-tags"></i></span><span>tag</span></a>
      </div>
      <div class="archive-link">
        <a href="/archive"><i class="fas fa-archive"></i>view N-Sider archive</a>
      </div>
    </div>
  </nav>

</section>
{{ end }}
