<aside class="post-feedback">

  <i class="fas fa-comments-alt"></i>

  <div>
    <h1>we'd love to hear from you!</h1>

    <p>
      <span>leave us a comment on</span>
      <a href="{{ post.twitter }}" class="twitter"><i class="fab fa-twitter fa-fw"></i><span>twitter</span></a>
      <span>or</span>
      <a href="{{ post.facebook }}" class="facebook"><i class="fab fa-facebook-f fa-fw"></i><span>facebook</span></a>
    </p>
  </div>

</aside>
