{{ define "config" }}
{{ if gt .Paginator.PageNumber 1 }}
  {{ .Page.Scratch.Set "pageNumber" .Paginator.PageNumber }}
{{ end }}
{{ end }}

{{ define "main" }}
<section id="posts">

  <div class="post-list">
    <div class="filter-status">
      <i class="fas fa-th-large"></i>
      Viewing all posts
    </div>
    {{- $previews := sort .Paginator.Pages ".Date" "desc" }}
    {{ partial "post-previews.html" (dict "previews" $previews "ctx" $) }}
    {{ partial "pagination.html" .Paginator }}
  </div>

  <aside id="tag-search">
    <div class="search-container">
      <div class="search-posts">
        <h1>search posts by tag</h1>
      </div>
      <div class="archive-link">
        <a href="/archive"><i class="fas fa-archive"></i>view n-sider archive</a>
      </div>
    </div>
  </aside>

</section>
{{ end }}
