{{ define "bodyClass" }}content-view{{ end }}

{{ define "main" }}
<section id="post">

  {{ partial "post.html" (dict "post" . "ctx" $) }}
  {{ partial "post-feedback.html" . }}

  {{- $taggedPosts := sort (
    where (where .Site.RegularPages "Params.tags" "intersect" .Params.tags) "Title" "!=" .Title)
    ".Date" "desc" }}
  {{- $authoredPosts := sort (complement $taggedPosts (
    where (where .Site.RegularPages "Params.authors" "intersect" .Params.authors) "Title" "!=" .Title))
    ".Date" "desc" }}
  {{- $previewCandidates := $taggedPosts | append $authoredPosts }}

  {{ partial "post-previews.html" (dict "previews" (first 3 $previewCandidates) "ctx" $) }}
  {{ partial "view-all-posts.html" }}

</section>
{{ end }}
