{{ define "bodyClass" }}content-view{{ end }}

{{ define "main" }}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const scrollTarget = sessionStorage.getItem('scrollFeature');

    if (scrollTarget !== null && scrollTarget > 0) {
      window.scroll({ top: scrollTarget, behavior: 'smooth' });
    }
    sessionStorage.removeItem('scrollFeature');

    document.querySelector('.post-footer .top-icon').addEventListener('click', () => {
      window.scroll({ top: 0, behavior: 'instant' });
    });
  });
</script>
<section id="post">

  {{ partial "post.html" (dict "post" . "ctx" $) }}
  {{ partial "post-feedback.html" . }}

  {{- $taggedPosts := sort (
    where (where .Site.RegularPages "Params.tags" "intersect" .Params.tags) "Title" "!=" .Title)
    ".Date" "desc" }}
  {{- $authoredPosts := sort (complement $taggedPosts (
    where (where .Site.RegularPages "Params.authors" "intersect" .Params.authors) "Title" "!=" .Title))
    ".Date" "desc" }}
  {{- $previewCandidates := $taggedPosts | append $authoredPosts }}

  <aside class="post-related">
    {{ partial "post-previews.html" (dict "previews" (first 3 $previewCandidates) "ctx" $) }}
    {{ partial "view-all-posts.html" }}
  </aside>

</section>
{{ end }}
