#index {
  padding: 40px 0;

  .index-featured {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    .post-template {
      position: relative;
      flex: 0 1 1000px;
      max-height: 1000px;
      margin: 0;
      overflow: hidden;
      transition: max-height 2s ease-in;
      box-shadow: @focusShadow;

      .continue-reading {
        opacity: 1;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 60px;
        background: url('https://static.nsidr.com/nsidr/line-gate.png') -1px -1px @grayLineBg;
        background-size: 6px 6px;
        text-align: center;
        transition: all 1s ease-in-out;

        a {
          display: block;
          background: transparent;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          transition: all .2s ease-in-out;

          span {
            display: inline-block;
            font-size: 26px;
            font-weight: 700;
            font-family: proxima-soft;
            line-height: 60px;
            color: @grayText;
            transition: all .2s ease-in-out;

            svg {
              margin-left: 10px;
            }
          }
        }

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: -100px;
          display: block;
          width: 100%;
          height: 100px;
          background: linear-gradient(transparent,@white 70%);
        }

        a:hover {
          background: @nsidr;

          span {
            transform: scale(1.05);
            color: @white;

            svg {
              animation: 1s ease-in-out 0s infinite continue;
            }
          }
        }
      }

      &.hyrule .continue-reading a:hover {
        background-color: @hyrule;
      }
      &.fami .continue-reading a:hover {
        background-color: @fami;
      }
    }

    .index-exhibits {
      opacity: 1;
      display: flex;
      flex-direction: column;
      flex: 0 0 300px;
      margin: 110px 40px 0 0;
      transition: all 1s ease-in-out;

      aside {
        width: 100%;
        height: 300px;
        margin-bottom: 40px;
        border-radius: 5px;
        overflow: hidden;

        h1 {
          background-color: rgba(0,0,0,.5);
          line-height: 60px;
          text-align: center;
          font-family: proxima-soft;
          font-weight: 700;
          font-size: 28px;
          color: @white;
        }

        &.exhibit-one {
          border-top: 5px solid @hyrule;
          background: url('/the-hyrule-fantasy.jpg') center center no-repeat @hyrule;
          background-size: cover;
        }

        &.exhibit-two {
          border-top: 5px solid @fami;
          background: url('/famiculture.jpg') center center no-repeat @fami;
          background-size: cover;
        }

        &.follow {
          height: 210px;
          border-top: 5px solid @disk;
          background-color: @white;
          padding: 0 20px 20px;

          h1 {
            background: none;
            color: @black;
          }

          p {
            margin: -3px 0 13px;
            text-align: center;
            line-height: 22px;
            font-size: 16px;
          }

          ul {
            display: flex;
            justify-content: space-around;

            li {
              font-size: 70px;

              a {
                display: inline-block;
                transition: all ease-in-out .2s;
                color: @grayText;

                &:hover {
                  transform: scale(1.05);

                  &.rss {
                    color: @rss;
                  }
                  &.twitter {
                    color: @twitter;
                  }
                  &.facebook {
                    color: @facebook;
                  }

                  svg {
                    animation: 1.5s linear 0s infinite shake;
                  }
                }
              }
            }
          }
        }
      }
    }

    &:not(.has-post) {
      float: right;
    }
  }
}

body.expand-feature {

  #index {

    .index-featured {

      .post-template {
        max-height: 10000px;

        .continue-reading {
          opacity: 0;
        }
      }

      .index-exhibits {
        opacity: 0;
        flex: 0 0 0;
        margin-right: 0;
      }
    }
  }
}
