#index {
  padding: 40px 0;

  .index-featured {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    .featured-post {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      border-radius: 5px;
      box-shadow: @focusShadow;

      .post-template {
        position: relative;
        flex: 0 1 940px;
        margin: 0;
        overflow: hidden;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        .post-body {
          img {
            width: 100%;
            margin-left: 0;
            box-shadow: none;
          }
          iframe {
            width: 100%;
            margin-left: 0;
            box-shadow: none;
          }
        }
      }

      .continue-reading {
        position: sticky;
        bottom: 0;
        height: 60px;
        background: url('https://static.nsidr.com/nsidr/line-gate.png') -1px -1px @grayLineBg;
        background-size: 6px 6px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        text-align: center;
        transition: all 1s ease-in-out;

        a {
          display: block;
          background: transparent;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          transition: all .2s ease-in-out;

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 26px;
            font-weight: 700;
            font-family: proxima-soft;
            line-height: 60px;
            color: @grayText;
            transition: all .2s ease-in-out;

            svg {
              margin-left: 10px;
            }
          }
        }

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: -100px;
          display: block;
          width: 100%;
          height: 100px;
          background: linear-gradient(transparent,@white 95%);
        }

        a:hover {
          background: @nsidr;

          span {
            transform: scale(1.05);
            color: @white;

            svg {
              animation: 1s ease-in-out 0s infinite more;
            }
          }
        }
      }

      .post-template {
        &.hyrule + .continue-reading a:hover {
          background-color: @hyrule;
        }
        &.fami + .continue-reading a:hover {
          background-color: @fami;
        }
      }
    }

    .index-exhibits {
      display: flex;
      flex-direction: column;
      flex: 0 0 300px;
      margin: 110px 40px 0 0;

      aside {
        position: relative;
        width: 100%;
        height: 300px;
        margin-bottom: 40px;
        border-radius: 5px;
        overflow: hidden;

        h1 {
          background-color: rgba(0,0,0,.5);
          line-height: 60px;
          text-align: center;
          font-family: proxima-soft;
          font-weight: 700;
          font-size: 28px;
          color: @white;
        }

        &.exhibit {
          opacity: .6;
          cursor: help;

          p {
            position: absolute;
            bottom: 34px;
            right: -94px;
            width: 300px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-family: proxima-soft;
            font-weight: 700;
            font-size: 20px;
            color: @white;
            transform: rotate(-45deg);
          }

          &.exhibit-one {
            border-top: 5px solid @hyrule;
            background: url('https://static.nsidr.com/nsidr/the-hyrule-fantasy.jpg') center center no-repeat @hyrule;
            background-size: cover;

            p {
              background-color: @hyrule;
            }
          }

          &.exhibit-two {
            border-top: 5px solid @fami;
            background: url('https://static.nsidr.com/nsidr/famiculture.jpg') center center no-repeat @fami;
            background-size: cover;

            p {
              background-color: @fami;
            }
          }
        }

        &.follow {
          height: 210px;
          border-top: 5px solid @disk;
          background-color: @white;
          padding: 0 20px 20px;

          h1 {
            background: none;
            color: @black;
          }

          p {
            margin: -3px 0 13px;
            text-align: center;
            line-height: 22px;
            font-size: 16px;
          }

          ul {
            display: flex;
            justify-content: space-around;

            li {
              font-size: 70px;

              a {
                display: inline-block;
                transition: all ease-in-out .2s;
                color: @grayText;

                &:hover {
                  transform: scale(1.05);

                  &.rss {
                    color: @rss;
                  }
                  &.twitter {
                    color: @twitter;
                  }
                  &.facebook {
                    color: @facebook;
                  }

                  svg {
                    animation: 1.5s linear 0s infinite shake;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &:not(.has-featured-post) {
    display: flex;
    max-width: 1340px;
    margin: 0 auto;
    flex-wrap: wrap;

    .index-featured {
      flex: 0 0 340px;
    }

    .post-previews {
      flex: 0 1 1000px;

      & > li {
        width: ~"calc(50% - 20px)";
        max-height: 480px;
      }
    }

    .view-all-posts {
      width: 100%;
    }
  }
}

@media (max-width: 1420px) {

  #index {
    padding-top: 30px;

    .index-featured {
      flex-direction: column;
      max-width: 1000px;
      margin: 0 auto;

      .featured-post {
        .post-template {
          margin-bottom: 40px;
        }
      }

      .index-exhibits {
        flex: 0 0 auto;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;

        aside {
          height: 210px;
          width: ~"calc(33.33% - 26.67px)";
          margin-bottom: 0;
        }
      }
    }

    .post-previews {
      max-width: 1080px;
      height: 570px;
      padding: 40px;
      overflow: hidden;

      li {
        width: ~"calc(50% - 20px)";
      }
    }

    &:not(.has-featured-post) {
      .index-featured {
        flex: 0 1 1000px;
      }

      .post-previews {
        height: auto;
        padding: 40px 0 0;
        overflow: visible;
      }
    }
  }

}

@media (max-width: 1080px) {

  #index {
    &.has-featured-post {
      .index-featured {
        margin: 0 40px;
      }
    }

    &:not(.has-featured-post) {
      .index-featured {
        flex: 0 1 100%;
        max-width: none;
      }

      .index-exhibits {
        margin: 0 40px;
      }

      .post-previews {
        margin: 0 40px;
      }
    }
  }

}

@media (max-width: 920px) {

  #index .index-featured {
    .index-exhibits aside {
      h1 {
        font-size: 22px;
      }
      &.follow {
        h1 {
          font-size: 22px;
        }
        p {
          margin-bottom: 17px;
          font-size: 14px;
        }
        ul {
          justify-content: space-between;

          li {
            font-size: 55px;
          }
        }
      }
    }
  }

}

@media (max-width: 800px) {

  #index {
    .index-featured {
      .featured-post {
        flex: 0 1 600px;
        margin: 0 20px 20px;
      }
      .index-exhibits {
        flex-wrap: wrap;
        margin: 0 20px;

        aside {
          width: ~"calc(50% - 10px)";
          margin-bottom: 20px;

          h1 {
            font-size: 28px;
          }
          &.follow {
            display: flex;
            width: 100%;
            height: auto;
            margin-bottom: 0;
            padding: 20px;

            div {
              display: flex;
              flex: 0 1 60%;

              h1 {
                flex: 0 1 50%;
                line-height: 65px;
                font-size: 28px;
              }
              p {
                flex: 0 1 50%;
                margin: 0;
                padding-top: 13px;
                font-size: 16px;
              }
            }

            ul {
              justify-content: space-around;
              flex: 0 1 40%;

              li {
                font-size: 70px;
              }
            }
          }
        }
      }
    }

    .post-previews {
      height: 530px;
      padding: 20px;

      li {
        width: ~"calc(50% - 10px)";
      }
    }

    &.has-featured-post {
      .index-featured {
        margin: 0;
      }
    }

    &:not(.has-featured-post) {
      .post-previews {
        margin: 0 20px;
        padding-top: 20px;

        li {
          width: ~"calc(50% - 10px)";
          margin-bottom: 20px;
        }
      }
    }
  }

}

@media (max-width: 730px) {

  #index {
    .index-featured {
      .index-exhibits {
        aside {
          &.follow {
            div {
              flex-direction: column;
              flex: 0 1 50%;

              h1 {
                flex: 0 1 auto;
                line-height: 30px;
              }
              p {
                flex: 0 1 auto;
              }
            }

            ul {
              padding-top: 5px;
              flex: 0 1 50%;
            }
          }
        }
      }
    }
    .post-previews {
      height: auto;
      padding-bottom: 0;
      overflow: visible;

      li {
        width: 100%;
      }
    }

    &:not(.has-featured-post) {
      .post-previews li {
        width: 100%;
      }
    }
  }

}

@media (max-width: 600px) {

  #index .index-featured {
    .featured-post {
      margin: 0 0 20px;

      .post-template {
        margin: 0 0 20px;
        border-radius: 0;

        .post-body {
          img {
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
          }
          iframe {
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
          }
        }
      }

      .continue-reading {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        a {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
  }

}

@media (max-width: 570px) {

  #index .index-featured {
    .index-exhibits {
      aside {
        &:not(.follow) {
          h1 {
             font-size: 22px;
          }
        }
      }
    }
  }

}


@media (max-width: 500px) {

  #index .index-featured {
    .index-exhibits {
      aside {
        width: 100%;

        &:not(.follow) {
          h1 {
             font-size: 28px;
          }
        }
        &.follow {
          display: block;
          height: 210px;
          padding: 0 20px 20px;

          div {
            h1 {
              line-height: 60px;
            }
            p {
              margin: -3px 0 13px;
              padding: 0;
            }
          }
          ul {
            justify-content: center;
            padding-top: 0;

            li:nth-child(2) {
              margin: 0 25px;
            }
          }
        }
      }
    }
  }

}
