#site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  h1 {
    max-width: 1340px;
    margin: 40px auto 0;

    a {
      display: inline-block;
      margin-left: 20px;
      font-family: proxima-soft, sans-serif;
      font-size: 80px;
      font-weight: 700;
      color: @black;
      transition: all ease-in-out .2s;

      &::before {
        content: '';
        display: block;
        float: left;
        width: 70px;
        height: 60px;
        margin: 13px 10px 0 0;
        background: url('/logo.png') left top no-repeat;
        background-size: contain;
      }

      span {
        display: inline-block;
      }

      &:hover {
        transform: scale(1.05);

        &::before {
          animation: 1.5s linear 0s infinite shake;
        }

        span {
          &:nth-of-type(1) {
            animation: 1.5s ease-in-out 0s infinite bounce;
          }
          &:nth-of-type(2) {
            animation: 1.5s ease-in-out .05s infinite bounce;
          }
          &:nth-of-type(3) {
            animation: 1.5s ease-in-out .1s infinite bounce;
          }
          &:nth-of-type(4) {
            animation: 1.5s ease-in-out .15s infinite bounce;
          }
          &:nth-of-type(5) {
            animation: 1.5s ease-in-out .2s infinite bounce;
          }
        }
      }
    }
  }
}

#site-footer {
  margin-top: auto;
  background-color: @nsidr;

  & > div {
    display: flex;
    justify-content: space-between;
    max-width: 1380px;
    margin: 0 auto;
    padding: 20px;
    color: @white;

    small {
      flex: 1 0 210px;
      line-height: 32px;
      font-size: 20px;
      font-weight: 700;
      font-family: proxima-soft;
    }

    a {
      display: inline-block;
      opacity: .5;
      font-size: 32px;
      color: @white;
      transition: all ease-in-out .2s;

      &:hover {
        transform: scale(1.1);
        opacity: 1;
      }
    }

    ul {
      display: flex;
      justify-content: flex-end;
      flex: 1 0 210px;

      li {
        margin-left: 15px;
      }
    }
  }
}
