<ol class="article-previews">
  {{ range . }}
  <li>
    <a href="{{ .Permalink }}">
      <article>

        <header class="preview-header">
          {{ if .Params.featureImage }}
          <img src="{{ .Params.featureImage }}" alt="{{ .Title }}">
          {{ end }}
          <div>
            <h2>{{ .Title }}</h2>
            <small>
              {{- with .GetTerms "contributors" }}
              <span>
                <i class="fad fa-user{{ if gt (len .) 1 }}-friends{{ end }}" style="--fa-secondary-opacity: 0.70"></i>
                <ol>
                  {{ range . }}
                  <li>{{ .Title }}</li>
                  {{ end }}
                </ol>
              </span>
              {{ end }}
              <span>
                <i class="fad fa-calendar" style="--fa-secondary-opacity: 0.70"></i> <time datetime="{{ .Date | time.Format "2006-01-02" }}">{{ .Date | time.Format ":date_medium" }}</time>
              </span>
            </small>
          </div>
        </header>

        {{ with .Params.blurb }}
        <div class="preview-body">
          {{ . | safeHTML }}
        </div>
        {{ end }}

      </article>
    </a>
  </li>
  {{ end }}
</ol>
