<aside class="post-feedback">
  <div class="react-icon">
    <i class="fad fa-comment-alt-smile"></i>
  </div>
  <div class="respond">
    <h2>thanks for reading!</h2>
    <span>comment on</span>
    <a href="{{ .Params.twitter | default .Site.Params.twitter }}" class="twitter"><i class="fab fa-twitter fa-fw"></i><span>twitter</span></a>
    <span>or</span>
    <a href="{{ .Params.facebook | default .Site.Params.facebook }}" class="facebook"><i class="fab fa-facebook-f fa-fw"></i><span>facebook</span></a>
  </div>
</aside>
