<article class="post-template {{ .post.Params.topic }}">

  {{- if $.ctx.Scratch.Get "hasFeaturedPost" }}
  <div class="featured"><i class="fad fa-rocket-launch" style="--fa-secondary-opacity: 0.60"></i>Featured Post</div>
  {{- end }}

  {{- if .post.Params.shouldMoveFeatureImage }}
  <div class="feature-image" style="background-image: url('{{ .post.Params.featureImage }}')">
    <img src="{{ .post.Params.featureImage }}" alt="{{ .post.Title }}">
  </div>
  {{- end }}

  <header class="post-header{{ if .post.Params.shouldMoveFeatureImage }} feature-overlay{{ end }}">
    <div class="title-byline">
      {{- $mood := .post.Params.mood | default "default" }}
      {{- with $.ctx.GetTerms "authors" }}
        {{- range first 1 . }}
          <img src="{{ index .Params.avatars $mood }}">
        {{- end }}
      {{- end }}
      <div>
        <h1><a href="{{ .post.Permalink }}">{{ .post.Title }}</a></h1>
        <small>
          {{- with .post.Params.authors }}
          <i class="fad fa-user{{ if gt (len .) 1 }}-friends{{ end }}" style="--fa-secondary-opacity: 0.70"></i>
          <ul>
            {{ range . }}
            {{- $author := $.ctx.GetPage (printf `/authors/%s` (. | urlize)) }}
            <li><a href="{{ $author.Permalink }}">{{ $author.Title }}</a></li>
            {{ end }}
          </ul>
          {{- end }}
          <i class="fad fa-calendar" style="--fa-secondary-opacity: 0.70"></i> <time datetime="{{ .post.Date | time.Format "2006-01-02" }}">{{ .post.Date | time.Format ":date_medium" }}</time>
          {{ $reactionsTotal := add 0
            (int .post.Params.reactions.thumbsUp)
            (int .post.Params.reactions.laugh)
            (int .post.Params.reactions.wow)
            (int .post.Params.reactions.sad)
          }}
          {{ if gt $reactionsTotal 0 }}
          <span class="reactions">
            <i class="fas fa-grin"></i>
            <span class="total">{{ string $reactionsTotal }}</span>
            <ul class="tooltip">
              {{- with .post.Params.reactions.thumbsUp }}
              <li class="thumbs-up"><i class="fad fa-thumbs-up"></i>{{ . }}</li>
              {{- end }}
              {{- with .post.Params.reactions.laugh }}
              <li class="laugh"><i class="fas fa-laugh-squint"></i>{{ . }}</li>
              {{- end }}
              {{- with .post.Params.reactions.wow }}
              <li class="wow"><i class="fas fa-surprise"></i>{{ . }}</li>
              {{- end }}
              {{- with .post.Params.reactions.sad }}
              <li class="sad"><i class="fas fa-sad-tear"></i>{{ . }}</li>
              {{- end }}
            </ul>
          </span>
          {{- end }}
        </small>
      </div>
    </div>
  </header>

  <div class="post-body">
    {{- $content := .post.Content }}
    {{- if .post.Params.shouldMoveFeatureImage }}
      {{- $content = replaceRE "(<(p|div)[^>]*?>)?\\s*?(<a[^>]*?>)?\\s*?<img[^>]*?>\\s*?(</a>)?\\s*?(</(?:p|div)>)?((<br[^>]*?>)?\\s*?)*" "" .post.Content 1 }}
    {{- end }}
    {{ $content | safeHTML }}
  </div>

  <footer class="post-footer">
    {{- $tags := $.ctx.GetTerms "tags" }}
    {{- with $tags }}
    <span class="tag-icon"><i class="fas fa-tag{{ if gt (len .) 1 }}s{{ end }}"></i></span>
    {{- end }}
    <ul>
      {{- range $tags }}
      <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{- end }}
    </ul>
    <span class="top-icon"><i class="fas fa-arrow-alt-up"></i></span>
  </footer>

</article>
