#article {
  padding: 60px 0 40px;

  .toggle-responsive {
    max-width: 783px;
    margin: 0 auto 20px;

    button {
      display: block;
      width: 100%;
      margin: 0 auto;
      background-color: $grayBg;
      border: none;
      border-radius: 5px;
      transition: all .2s ease-in-out;
      text-align: center;

      span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 700;
        font-family: proxima-soft;
        line-height: 40px;
        color: $grayText;
        transition: all .2s ease-in-out;
      }

      &:hover {
        background-color: $nsidr;

        span {
          transform: scale(1.05);
          color: $white;

          svg {
            animation: 1s ease-in-out 0s infinite more;
          }
        }
      }
    }

    &.hide {
      display: none;
    }
    &.show-responsive {
      margin: 20px auto 40px;

      button {
        span {
          font-size: 40px;
          line-height: 80px;

          svg {
            margin-right: 10px;
          }
        }
        &:hover span svg {
          animation: 1s ease-in-out 0s infinite less;
        }
      }
    }
    &.show-desktop button {
      span svg {
        margin-left: 10px;
      }
      &:hover span svg {
        animation: 1s ease-in-out 0s infinite more;
      }
    }
  }

  .view-all-articles {
    max-width: 783px;
    margin-top: 40px;
  }
}

@media (max-width: 1080px) {

  #article {
    .view-all-articles {
      margin: 40px auto 0;
    }
  }

}

@media (max-width: 863px) {

  #article {
    .toggle-responsive {
      margin: 0 40px 20px;
    }
    .view-all-articles {
      margin: 40px 40px 0;
    }
  }

}

@media (min-width: 863px) {

  #article {
    .show-desktop {
      display: none;
    }
  }

}

@media (max-width: 800px) {

  #article {
    .toggle-responsive {
      margin: 0 20px 10px;
    }
    .view-all-articles {
      margin: 20px 20px 0;
    }
  }

}

@media (max-width: 600px) {

  #article {
    .toggle-responsive {
      margin: 0;

      button {
        border-radius: 0;

        span {
          transform-origin: left;
          justify-content: flex-start;
          margin-left: 20px;
          font-size: 16px;
        }
      }
    }
  }

}
