#articles {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row-reverse;
  max-width: 1340px;
  width: 100%;
  margin: 0 auto 40px;

  .filter-status {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    padding-left: 12px;
    margin-bottom: 20px;
    background-color: $grayBg;
    border-radius: 5px;
    font-family: proxima-soft;
    font-size: 18px;
    font-weight: 700;
    color: $grayText;

    & > svg {
      margin-right: 11px;
      font-size: 16px;
    }

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 0 0 40px;
      height: 40px;
      margin-left: auto;
      border-left: 2px solid $background;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      font-size: 16px;
      color: $grayText;
      cursor: pointer;
      transition: all ease-in-out .2s;

      &:hover {
        background-color: $nsidr;
        color: $white;

        svg {
          animation: 1s ease-in-out 0s infinite shake;
        }
      }
    }
  }

  .description {
    margin-bottom: 20px;
    padding: 15px 20px;
    background-color: $white;
    border-radius: 5px;
    line-height: 24px;
  }

  .article-list {
    display: flex;
    flex-direction: column;
    flex: 0 1 1000px;
    min-height: calc(100vh - 172px);
    margin-top: 40px;

    .article-previews {
      width: 100%;
      align-self: center;
    }

    .no-articles {
      padding: 20px;
      border-top: 5px solid $nsidr;
      border-radius: 5px;
      background-color: $white;
      text-align: center;

      span {
        display: block;
        margin-top: 20px;
        color: $grayText;
      }

      .fa-ban {
        margin: 50px auto;
        font-size: 200px;
        color: $background;
      }
    }

    .pagination {
      display: flex;
      height: 60px;
      margin-top: auto;
      background-color: $grayBg;
      border-radius: 5px;

      & > a {
        display: block;
        flex: 0 0 200px;
        transition: all .2s ease-in-out;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-size: 22px;
          font-weight: 700;
          font-family: proxima-soft;
          line-height: 60px;
          color: $grayText;
          transition: all .2s ease-in-out;

          svg {
            margin-left: 10px;
          }
        }

        &:first-child {
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;

          span svg {
            margin-right: 10px;
          }
        }
        &:last-child {
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;

          span svg {
            margin-left: 10px;
          }
        }

        &:hover {
          background-color: $nsidr;

          span {
            transform: scale(1.05);
            color: $white;
          }

          &:first-child span svg {
            animation: 1s ease-in-out 0s infinite less;
          }
          &:last-child span svg {
            animation: 1s ease-in-out 0s infinite more;
          }
        }
      }

      & > div {
        flex: 0 0 200px;
      }

      & > span {
        display: block;
        flex: 1 1;
        border-left: 3px solid $background;
        border-right: 3px solid $background;
        text-align: center;
        font-size: 22px;
        font-weight: 700;
        font-family: proxima-soft;
        line-height: 60px;
        color: $grayText;
      }
    }
  }
}

@media (max-width: 1420px) {

  #articles {
    flex-direction: column-reverse;

    .filter-status {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto 20px;
    }

    .description {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto 20px;
    }

    .article-list {
      flex: 1 0 auto;
      margin-top: 0;

      .article-previews {
        max-width: 1000px;
        margin: 0 auto;
      }
    }

    .pagination {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
    }
  }

}

@media (max-width: 1080px) {

  #articles {
    .filter-status {
      width: auto;
      margin: 0 40px 20px;
    }

    .description {
      width: auto;
      margin: 0 40px 20px;
    }

    .article-list {
      .article-previews {
        width: calc(100% - 80px);
        margin: 0 40px;
      }
    }

    .pagination {
      width: auto;
      margin: 0 40px;
    }
  }

}

@media (max-width: 800px) {

  #articles {
    .filter-status {
      width: auto;
      margin: 0 20px 20px;
    }

    .description {
      width: auto;
      margin: 0 20px 20px;
    }

    .article-list {
      .article-previews {
        width: calc(100% - 40px);
        margin: 0 20px;
      }

      .pagination {
        width: auto;
        margin: auto 20px 0;

        & > div {
          flex: 0 0 100px;
        }
        & > a {
          flex: 0 0 100px;

          span {
            font-size: 18px;
          }
        }
        & > span {
          font-size: 18px;
        }
      }
    }
  }

}

@media (max-width: 730px) {

  #articles .article-list {
    .filter-status {
      font-size: 16px;

      svg {
        font-size: 16px;
      }
    }
  }

}

@media (max-width: 380px) {

  #articles {
    .article-list {
      .pagination {
        & > div {
          flex: 0 0 80px;
        }
        & > a {
          flex: 0 0 80px;

          span {
            font-size: 16px;
          }
        }
        & > span {
          font-size: 16px;
        }
      }
    }
  }

}
