#post {
  padding: 60px 0 40px;
}

@media (max-width: 1420px) {

  #post {
    .post-previews {
      max-width: 1080px;
      height: 560px;
      margin-top: -40px;
      padding: 40px;
      overflow: hidden;

      li {
        width: calc(50% - 20px);
      }
    }
  }

}

@media (max-width: 800px) {

  #post {
    .post-previews {
      height: 520px;
      margin-top: 0;
      padding: 20px;

      li {
        width: calc(50% - 10px);
      }
    }
  }

}

@media (max-width: 730px) {

  #post {
    .post-previews {
      height: auto;
      padding-bottom: 0;
      overflow: visible;

      li {
        width: 100%;
      }
    }
  }

}
