{{ define "bodyClass" }}index-view{{ end }}

{{ define "main" }}
{{- $posts := first 4 (sort (where .Site.RegularPages "Type" "posts") ".Date" "desc") }}
{{- range first 1 $posts }}
<section id="index"{{ if .Params.featuredPost }} class="has-featured-post"{{ end }}>

  <div class="index-featured">

  {{- if .Params.featuredPost }}
    {{- $.Page.Scratch.Set "hasFeaturedPost" true }}
    <div class="featured-post">
      {{ partial "post.html" (dict "post" . "ctx" $) }}
      <div class="continue-reading">
        <a href="{{ .Permalink }}">
          <span>continue reading<i class="fas fa-arrow-alt-square-right"></i></span>
        </a>
      </div>
    </div>
  {{- end }}
{{- end}}

    <div class="index-exhibits">

      <aside class="exhibit exhibit-one">
        <h1>the hyrule fantasy</h1>
        <p>coming next</p>
      </aside>

      <aside class="exhibit exhibit-two">
        <h1>famiculture</h1>
        <p>coming soon</p>
      </aside>

      <aside class="follow">
        <div>
          <h1>stay updated</h1>
          <p>we don't update often,<br>so catch us when we do!</p>
        </div>
        <ul>
          <li><a href="/index.xml" class="rss"><i class="fas fa-rss-square"></i></a></li>
          <li><a href="{{ .Site.Params.twitter }}" class="twitter"><i class="fab fa-twitter-square"></i></a></li>
          <li><a href="{{ .Site.Params.facebook }}" class="facebook"><i class="fab fa-facebook-square"></i></a></li>
        </ul>
      </aside>

    </div>

  </div>

  {{- $previews := $posts }}
  {{- if (.Scratch.Get "hasFeaturedPost") }}
    {{- $previews = last 3 $posts }}
  {{- end }}
  {{ partial "post-previews.html" (dict "previews" $previews "ctx" $) }}
  {{ partial "view-all-posts.html" }}

</section>
{{ end }}
