@import url("//hello.myfonts.net/count/36c37c");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

@font-face {
  font-family: "proxima-soft";
  font-weight: 700;
  src: url("/fonts/36C37C_0_0.eot");
  src: url("/fonts/36C37C_0_0.eot?#iefix") format("embedded-opentype"),
    url("/fonts/36C37C_0_0.woff2") format("woff2"),
    url("/fonts/36C37C_0_0.woff") format("woff"),
    url("/fonts/36C37C_0_0.ttf") format("truetype");
}
