@import (less) "reset.css";

@white: #FFFFFF;
@black: #333333;
@grayBg: #DDDDDD;
@grayLineBg: #CCCCCC;
@grayText: #AAAAAA;
@background: #EEEEEE;

@nsidr: #16A1FF;
@hyrule: #7ABE3D;
@fami: #FF3F3F;
@disk: #FFD800;

@rss: #F26522;
@twitter: #1DA1F2;
@facebook: #3B5998;

@focusShadow: 0 0 30px 0 rgba(0,0,0,.2);

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  font-family: "Open Sans";
  background-color: @background;
  color: @black;

  a {
    color: @nsidr;
  }
}

@import "animations.less";
@import "views/partials/view-all-posts.less";
@import "views/partials/post-previews.less";
@import "views/partials/post-feedback.less";
@import "views/partials/post.less";
@import "views/partials/article-previews.less";
@import "views/partials/article.less";
@import "views/template.less";
@import "views/index.less";
@import "views/posts.less";
@import "views/post.less";
@import "views/articles.less";
@import "views/article.less";
