IndexIgnore *

ErrorDocument 403 /not-found
ErrorDocument 404 /not-found

RedirectMatch 403 /\.svn

RewriteEngine on

RewriteCond     %{REQUEST_URI}     !^/index\.html
RewriteCond     %{REQUEST_URI}     !^/cgi-bin
RewriteCond     %{REQUEST_URI}     !^/build
RewriteCond     %{REQUEST_URI}     !^/modules
RewriteRule     ^(.*)$             /index.html [QSA,L]

# AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript application/x-font-otf
